<div class="center hero-unit">
	<h1> Leaderboard </h1>
	<ol>
	<% @users = User.all.sort_by{|x| [x.elo, x.wins]}.reverse %>
	<% if @users != nil %>
		<%  @users.each do |user| %>
	    	<li><%= "#{user.name} Rating: #{user.elo}     #{user.wins} - #{user.ties} - #{user.losses}" %> </li>
	    <%  end %>
    <% end %>
	</ol>
</div>